In [1]:
print("Hello all welcome to python programming world")

Hello all welcome to python programming world

In [ ]:
Understanding varibles in python

In [ ]:
x=2
y=3

In [7]:
z = x+y

print (z)

5

In [ ]:
Rules for declaring the variables in python

In [ ]:
1.No namespaces in while declaring the variable name

In [8]:
first name = 'swathi'

print(first name)

SyntaxError: invalid syntax (Temp/ipykernel_4408/3564666973.py, line 1)

In [ ]:
correct format

In [10]:
firstname='swathi'

print(firstname)

swathi

In [11]:
first_name = 'swathi'

print(first_name)

swathi

In [ ]:
2.A variable name should not start with a number

In [12]:
1name = 'swathi'
print(1name)

SyntaxError: invalid syntax (Temp/ipykernel_4408/2650559632.py, line 1)

In [13]:
name1 ='swathi'

print(name1)

swathi

In [ ]:
3.A varible name should not contain any special character (ex:@,#,%,$,&)

In [14]:
name@ = 'swathi'

print(name@)

SyntaxError: invalid syntax (Temp/ipykernel_4408/2262507165.py, line 1)

In [ ]:
Introduction to datatypes in python

In [ ]:
1.String
2.Number---->integer and float(decimal)
3.List
4.Tuple
5.Dictionaries

In [ ]:
Classification of datatypes in python
1.Mutable
2.Immutable

In [ ]:
Mutable:we can able to edit/alter the data.It is flexible datatype

Immutable:we cannot able to edit/alter the data.It is a fixed datatype

In [ ]:
Introduction to string Datatype

In [ ]:
A string is nothing but a series of character declared in quotes.

Classification:It is classified as an immutable datatype (fixed datatype)

In [ ]:
How to declare the string datatype---?
1.single quotes
2.Double quotes
3.Triple quotes

In [ ]:
Single Quotes

In [18]:
name1='roamn'

print(name1)

roamn

In [ ]:
Double Quotes

In [20]:
name2="Aditya"

print(name2)

Aditya

In [ ]:
Triple Quotes

In [21]:
name3="""Naga Venkatesh"""

print(name3)

Naga Venkatesh

In [ ]:
Introduction to string methods

In [ ]:
Methods are built in programs that are available for use.

In [29]:
name="str"

type(name)

str

In [28]:
name2="str"

type(name2)

str

In [27]:
name3="str"

type(name3)

str

In [34]:
Fullname='Nagavenkatesh'

print(Fullname)

Nagavenkatesh

In [41]:
Fullname='swathi'

print(Fullname.title())

Swathi

In [42]:
Fullname='swathi'

print(Fullname.upper())

SWATHI

In [43]:
fullname='swathi'

print(fullname.lower())

swathi

In [ ]:
# general syntax of an f strings:

In [ ]:
f"custom word {placeholder1}{placeholder2}...............{placeholder....n}"

In [ ]:
firstname='aditya'
lastname='kumar'

In [ ]:
#req:i want to get the full name....?

In [51]:
fullname = f"{firstname} {lastname}"

print(fullname)

aditya kumar

In [52]:
print(fullname.title())

Aditya Kumar

In [54]:
print(f"keep up the good work,{fullname.title()}")

keep up the good work,Aditya Kumar

In [ ]:
Adding whitespaces to strings:

In [55]:
print("favourite_language:pythonc++javaswiftsql")

favourite_language:pythonc++javaswiftsql

In [56]:
print("favourite_language:\npython\nc++\nc\njava\nswift\nsql")

favourite_language:
python
c++
c
java
swift
sql

In [57]:
print("favourite_language:\n\tpython\n\tc++\n\tc\n\tjava\n\tswift\n\tsql")

favourite_language:
	python
	c++
	c
	java
	swift
	sql

In [ ]:
\t---->tab delimiter

In [ ]:
how yo remove the whitespaces from the strings

In [58]:
name='python'
print(name)

python

In [60]:
name2='  java'
print(name2)

  java

In [61]:
name3="sql.   "
print(name3)

sql.

In [62]:
name2.lstrip()

'java'

In [63]:
name3.rstrip()

'sql.'