In [ ]:
Introduction to list data type

In [ ]:
Definition:A list is a collection of items declared in a particular order
    
Classification:It is  classified as a mutable datatype
    
how to declare the list......? []

In [18]:
students = ['santosh','iqra','ramya','naveen','deepthi','adi']  #0,1,2,3,4,5

In [19]:
print(students)

['santosh', 'iqra', 'ramya', 'naveen', 'deepthi', 'adi']

In [ ]:
introduction to indexing :0,1,2,3,4.....!

In [ ]:
# req : i want to get the name of naveen in the outpt....?

In [21]:
print(students[3])

naveen

In [ ]:
# req : i want to get the name of adi in the outpt....?

In [22]:
print(students[5])

adi

In [23]:
print(students[5].title())

Adi

In [ ]:
1.how to add new elements to the list
2.how to modify the elements to the list
3.how to delete the elements in the list..?

In [ ]:
# req : i want to add swathi to the above list....?

In [42]:
students.append('swathi')

In [43]:
print(students)

['ravi', 'iqra', 'ramya', 'naveen', 'deepthi', 'adi', 'swathi', 'swathi', 'swathi', 'swathi', 'swathi']

In [ ]:
# req : i want to add anjalito the above list....?

In [44]:
students.insert(2,'anjali')

In [45]:
print(students)

['ravi', 'iqra', 'anjali', 'ramya', 'naveen', 'deepthi', 'adi', 'swathi', 'swathi', 'swathi', 'swathi', 'swathi']

In [46]:
print(students[2])

anjali

In [ ]:
tell me the diff b/w append and insert method in a list....?

In [ ]:
how to modify the elements to the list....?

In [48]:
print(students)

['ravi', 'iqra', 'anjali', 'ramya', 'naveen', 'deepthi', 'adi', 'swathi', 'swathi', 'swathi', 'swathi', 'swathi']

In [ ]:
# req : i want to modify the name of santosh to ravi....?

In [35]:
students[0]='ravi'

In [49]:
print(students)

['ravi', 'iqra', 'anjali', 'ramya', 'naveen', 'deepthi', 'adi', 'swathi', 'swathi', 'swathi', 'swathi', 'swathi']

In [50]:
print(students)

['ravi', 'iqra', 'anjali', 'ramya', 'naveen', 'deepthi', 'adi', 'swathi', 'swathi', 'swathi', 'swathi', 'swathi']

In [ ]:
# i want to delete the swathi name in the above list.......?

In [52]:
del students[8]

In [53]:
print(students)

['ravi', 'iqra', 'anjali', 'ramya', 'naveen', 'deepthi', 'adi', 'swathi', 'swathi', 'swathi', 'swathi']